{% extends 'mailings/base.html' %}

{% block title %}Подробная информация о получателе рассылки{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card mb-4 box-shadow" style="width: 30rem; overflow: hidden;">
            <div class="card-body">
                <h5 class="card-title">Получатель рассылки: {{ object.recipient_email }}</h5>
                <p class="card-text">Комментарий: {{ object.comment }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Получатель рассылки: {{ object.recipient_email }}</li>
                <li class="list-group-item">Полное имя: {{ object.full_name }}</li>
            </ul>
            <a href="{% url 'mailings:recipient_update' recipient.pk %}" class="btn btn-outline-primary mt-2">
                  <i class="bi bi-pencil-square"></i> Редактировать получателя рассылки
            </a>
        </div>
    </div>
</div>
{% endblock %}
